table {
    border: 1px;
    border-style: groove;
    border-color: black;
    margin-top: 1em;
}

table tr:nth-child(even) {
    background-color: #eaf2fb;
}

table th {
    background-color: #236ab9;    
    color: white;
    padding: 2px 10px;
}

table td {
    padding: 2px 10px;
}